body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.img-clock img {
  max-width: 160px;
  height: 160px;
}
img{
  height: 160px;
  width: 160px;
  margin:auto;
}
.img-block img:hover {
  transform: scale(2);
  cursor: pointer;
  border: 1px solid rgb(58, 241, 241);
  padding: 2px;
  background-color: rgb(35, 238, 245);
  border-radius: 10px;
}
button:hover{
  transform: scale(1.2);
}

.heading{
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 40px;
  font-weight: bold;
  color: rgb(216, 15, 183);
  margin-top: -20px;
}
.search-input{
  width: 250px;
  border: none;
  border: 1px solid gray;
  padding: 6px 5px;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.search-button{
  background-color: rgb(216, 15, 183);
  border: none;
  height: 29px;
  width: 40px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.search{
  padding-bottom: 30px;
}

.quick button{
  margin:0px 10px;
  background-color:   rgb(216, 15, 183);
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
}
.search-heading{
  color:   rgb(216, 15, 183);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}